<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="" routerLink="home">iFelt</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarTogglerDemo02"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="movies"
            routerLinkActive="active"
            class="nav-link"
            aria-current="page"
            href=""
            >Movies</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" href="#">Emotions</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
      </ul>
    </div>
  </nav>
  <div class="container">
    <span class="messages" *ngIf="movies.length != 0">
      <button
        class="btn btn-success m-1"
        (click)="alertService.success('Success!!', options)"
      >
        The movie "{{ movies[movies.length - 1].title }}" was inserted
      </button>
    </span>
  </div>
</div>

<ngb-alert type="custom" [dismissible]="false"
  ><strong>Whoa!</strong> This is a custom alert.</ngb-alert
>
<router-outlet></router-outlet>
