          <div class="container">
            <div class="row h-100 align-items-center">
              <div class="col-2"></div>
              <div class="col-8">
          <div>
            <label for="chooseMovie">Choose a <code>movie</code> or series</label>
              <select  class="form-control">
              <option [ngValue]="movie" *ngFor="let movie of movies">{{movie.title}}</option>
            </select>
            </div>
          <div>
            <label for="chooseEmotion">How did you <code>felt</code>?</label>
            <select class="form-control">
              <option [ngValue]="emotion" *ngFor="let emotion of emotions">{{emotion.name}}</option>
            </select>
          </div>
          <button class="btn btn-block btn-classify" (click)="classifyEmotion()">Classify</button>
        </div>
        <div class="col-2"></div>
      </div>
    </div>