<div class="main">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-8">
    <h1 class="text-center">iFetl</h1>
      <form class="">
        <div class="form-group">
          <label for="chooseMovie">Choose a <code>movie</code> or series</label>
          <select class="form-control" id="chooseMovie">
            <option>-</option>
            <option>Lost in Translation</option>
            <option>Cashback</option>
            <option>A Single Man</option>
            <option>Happy Go Lucky</option>
            <option>Cinema Paradiso</option>
          </select>
        </div>
        <div class="form-group">
          <label for="chooseEmotion">How did you <code>felt</code>?</label>
          <select class="form-control" id="chooseEmotion">
            <option>-</option>
            <option>Melancholic</option>
            <option>Optimistic</option>
            <option>Inspired</option>
            <option>Concerned</option>
            <option>Happy</option>
          </select>
        </div>
        <button class="btn btn-block btn-classify" (click)="classifyEmotion()">Classify</button>
      </form>   
    </div>
  </div> 
</div>
  
 